<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <?include ..\..\Includes\SourceFilePaths.wxi?>

    <Fragment>
        <DirectoryRef Id="BroDoYouEvenStackFolder">
            <Component Id="cmpB2593D10C0A243B6D7DF3EE7EEBC1291" Guid="{E5436C1C-48D0-4A5D-B6D6-A70F2194F339}">
                <File Id="fil3EB3A6ABEF1FA3D39078FD4A38F651B0" KeyPath="yes" Source="$(var.AppFilesSource)\Autofac.dll" />
            </Component>
            <Component Id="cmp4CF8805C6C3188041C70EDB05224F03D" Guid="{D1A48E46-635E-4B3D-8398-57D6E555B978}">
                <File Id="filA501F841D4254B6467C266336B59780C" KeyPath="yes" Source="$(var.AppFilesSource)\Autofac.xml" />
            </Component>
            <Component Id="cmpD6B5A95B2021D8471C08B94A63C27B5F" Guid="{4FF80290-AE2D-43DE-B39B-37E291B76BCD}">
                <File Id="filE1F73C6E33BA875FB9C5D448C0EC7E1E" KeyPath="yes" Source="$(var.AppFilesSource)\BroDoYouEvenStack.exe" />
            </Component>
            <Component Id="cmp9A64E9EEA002F6D9AC4EA718DFFDE649" Guid="{F960DA14-F299-47F1-8EB6-EA3F8EE4480C}">
                <File Id="filEE879F0F51B86EEE2E7DDA6FE003FFAB" KeyPath="yes" Source="$(var.AppFilesSource)\BroDoYouEvenStack.exe.config" />
            </Component>
            <Component Id="cmpB3D90CBB1F31EFDB64F7444D5E40E150" Guid="{44CBE447-AB58-4034-ABF4-1BFEFAFD0780}">
                <File Id="fil00E5328864FC4639B71DDB04F1C137FD" KeyPath="yes" Source="$(var.AppFilesSource)\BroDoYouEvenStack.pdb" />
            </Component>
            <Component Id="cmp8829FC6490C65DBBFCB2E872AF2D0495" Guid="{5058996F-A47C-4108-AB0D-58BB733EBAE7}">
                <File Id="filFA3F18EB4354387633FE80B0435BDACC" KeyPath="yes" Source="$(var.AppFilesSource)\Caliburn.Micro.dll" />
            </Component>
            <Component Id="cmp8A79DFA3E73F5E37D35FC95505B47DBF" Guid="{FF386784-EF5C-4680-9D00-716EC2C5248D}">
                <File Id="fil0E30552EC5C36F04823D94FDCBCFF993" KeyPath="yes" Source="$(var.AppFilesSource)\Caliburn.Micro.Platform.dll" />
            </Component>
            <Component Id="cmp72F0515BC03D8D77A6F5EE58E11B25CC" Guid="{7DDA4C93-7072-46F8-8807-94E5ACB4CB29}">
                <File Id="fil2D919CE84FF8D3A2A44A6E85E618CE63" KeyPath="yes" Source="$(var.AppFilesSource)\Caliburn.Micro.Platform.xml" />
            </Component>
            <Component Id="cmp9DEA78F54BDED44874C419EC9CADB114" Guid="{2A9CFB36-1D9A-4170-926B-97A01F137D0A}">
                <File Id="fil1C5001BAC6D6B3508987B3649F5BF005" KeyPath="yes" Source="$(var.AppFilesSource)\Caliburn.Micro.xml" />
            </Component>
            <Component Id="cmp401A6CA4C2D5176CEFE5AEC59AD3540B" Guid="{B3D3695B-EB41-4DD5-B38A-BB07A93729A0}">
                <File Id="fil5368AA95247EC480847934D24342A3BF" KeyPath="yes" Source="$(var.AppFilesSource)\Dota2GSI.dll" />
            </Component>
            <Component Id="cmp4E584A6A77161F7B3CB04A60CECF3FBF" Guid="{DF12AE82-9CF7-43EB-B1C6-9FD8D78B823B}">
                <File Id="filD40D5725AE88AE7AC09618DFA0DDA9C1" KeyPath="yes" Source="$(var.AppFilesSource)\Dota2GSI.pdb" />
            </Component>
            <Component Id="cmp14A9A0B0423E3C5F94AF660895DEAAF3" Guid="{86FD42C0-3E1A-4565-A29E-43E4B069C556}">
                <File Id="fil30344397EBE6EAD7335F8F90C8A4AC88" KeyPath="yes" Source="$(var.AppFilesSource)\MahApps.Metro.dll" />
            </Component>
            <Component Id="cmp0AC98B6DC48275E3B601960DDF72B8FA" Guid="{5067BAD2-B109-4319-8BAD-8DD3AE115F3E}">
                <File Id="fil8E30FF6DBEF16476E1B486FF886797AA" KeyPath="yes" Source="$(var.AppFilesSource)\MahApps.Metro.pdb" />
            </Component>
            <Component Id="cmpD1516744250128B59825D9287EF99D1B" Guid="{D4F0162A-ED38-43C5-BF6C-6080A7433442}">
                <File Id="fil481EE92BDEC7CDE71EB8DB75265E7830" KeyPath="yes" Source="$(var.AppFilesSource)\MahApps.Metro.xml" />
            </Component>
            <Component Id="cmp85F09649E81E9B53E97D08E7B4FBA30B" Guid="{7907C114-4A7F-4BA9-A291-FF2410BA4A90}">
                <File Id="filFACA0528DA2E9B7F781BBFB0862CCEE1" KeyPath="yes" Source="$(var.AppFilesSource)\MaterialDesignColors.dll" />
            </Component>
            <Component Id="cmp4D560772F1DD8B38391DED0D0F9FFFE3" Guid="{48BF8287-061B-420D-96B9-595349581B6D}">
                <File Id="filA4009CAF1751BF6CAA714982C0C8CCE9" KeyPath="yes" Source="$(var.AppFilesSource)\MaterialDesignThemes.MahApps.dll" />
            </Component>
            <Component Id="cmpF87A4AB45E4DE509F662F184DE2402FC" Guid="{3450360D-3549-417F-A781-1A1ABBC2C7D2}">
                <File Id="fil90B0BBA4E567D96BDC1CEFE1CF8BBD59" KeyPath="yes" Source="$(var.AppFilesSource)\MaterialDesignThemes.Wpf.dll" />
            </Component>
            <Component Id="cmpD40D824854ACBDF5E2DA8A7DECD19B2B" Guid="{3891BEDE-F004-4B6F-ADA0-488C95891CB8}">
                <File Id="filD12300180F376E5B72167BA80D590A2C" KeyPath="yes" Source="$(var.AppFilesSource)\Newtonsoft.Json.dll" />
            </Component>
            <Component Id="cmp52C8DC3B3E04986A87A99CD4EAF91864" Guid="{73D7E935-AE40-44E8-9CB1-AE75731FEF89}">
                <File Id="fil0AE86C7841DC2B8B6675A7BE7B6F6E95" KeyPath="yes" Source="$(var.AppFilesSource)\Newtonsoft.Json.xml" />
            </Component>
            <Component Id="cmp2BD6C04CF80EF0E9FF759C94F152DA1F" Guid="{BCCD8859-ABF7-423D-993A-9080E0FD19E9}">
                <File Id="filAC4216D2B9969982654D98A32ABCF186" KeyPath="yes" Source="$(var.AppFilesSource)\System.Windows.Interactivity.dll" />
            </Component>
            <Directory Id="dirDA683AC9D118D2C939A4876ECF54CF11" Name="Resources">
                <Component Id="cmpECFACE3E470A5CFB4192F2C26D004E21" Guid="{3092C36B-E29D-469F-8810-E1FEBBA15DAD}">
                    <File Id="filED294858362495A5A01641B3316F56C1" KeyPath="yes" Source="$(var.AppFilesSource)\Resources\Clown.wav" />
                </Component>
                <Component Id="cmp4B6F91A9703AD665D4E45C9E54136689" Guid="{287BB7B8-9846-4878-BA9F-96E188DB4A0A}">
                    <File Id="fil71ACD115078FAE5934583F9E48C4C487" KeyPath="yes" Source="$(var.AppFilesSource)\Resources\horn.wav" />
                </Component>
            </Directory>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="AppFiles">
            <ComponentRef Id="cmpB2593D10C0A243B6D7DF3EE7EEBC1291" />
            <ComponentRef Id="cmp4CF8805C6C3188041C70EDB05224F03D" />
            <ComponentRef Id="cmpD6B5A95B2021D8471C08B94A63C27B5F" />
            <ComponentRef Id="cmp9A64E9EEA002F6D9AC4EA718DFFDE649" />
            <ComponentRef Id="cmpB3D90CBB1F31EFDB64F7444D5E40E150" />
            <ComponentRef Id="cmp8829FC6490C65DBBFCB2E872AF2D0495" />
            <ComponentRef Id="cmp8A79DFA3E73F5E37D35FC95505B47DBF" />
            <ComponentRef Id="cmp72F0515BC03D8D77A6F5EE58E11B25CC" />
            <ComponentRef Id="cmp9DEA78F54BDED44874C419EC9CADB114" />
            <ComponentRef Id="cmp401A6CA4C2D5176CEFE5AEC59AD3540B" />
            <ComponentRef Id="cmp4E584A6A77161F7B3CB04A60CECF3FBF" />
            <ComponentRef Id="cmp14A9A0B0423E3C5F94AF660895DEAAF3" />
            <ComponentRef Id="cmp0AC98B6DC48275E3B601960DDF72B8FA" />
            <ComponentRef Id="cmpD1516744250128B59825D9287EF99D1B" />
            <ComponentRef Id="cmp85F09649E81E9B53E97D08E7B4FBA30B" />
            <ComponentRef Id="cmp4D560772F1DD8B38391DED0D0F9FFFE3" />
            <ComponentRef Id="cmpF87A4AB45E4DE509F662F184DE2402FC" />
            <ComponentRef Id="cmpD40D824854ACBDF5E2DA8A7DECD19B2B" />
            <ComponentRef Id="cmp52C8DC3B3E04986A87A99CD4EAF91864" />
            <ComponentRef Id="cmp2BD6C04CF80EF0E9FF759C94F152DA1F" />
            <ComponentRef Id="cmpECFACE3E470A5CFB4192F2C26D004E21" />
            <ComponentRef Id="cmp4B6F91A9703AD665D4E45C9E54136689" />
        </ComponentGroup>
    </Fragment>
</Wix>