BroDoYouEvenStack/bin/
BroDoYouEvenStack/obj/
Dota2GSI/obj/
Installer.GsiCfg.CA/obj/
packages/
InstallerUtil/obj/
Dota2.Fake/obj/
Dota2.Fake/bin/
BroDoYouEvenStack.Tests/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
BroDoYouEvenStack.Tests/bin/
BroDoYouEvenStack.Tests/obj/
