<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>
        <Feature Id="ProductFeature" Title="Bro do you even stack" Level="1">
            <ComponentGroupRef Id="AppFiles"/>
            <ComponentGroupRef Id="DotaConfigFiles"/>
            
            <!-- Stash the path in the registry so that the bootstrapper of later versions can retrieve it.  This is much nicer for uninstallation, and we're running with admin here. -->
            <Component Directory="DOTA_CONFIG_DIR" >
                <RegistryValue Root='HKLM' Key='SOFTWARE\BroDoYouEvenStack'
                   Name='DotaConfigDir' Value='[DOTA_CONFIG_DIR]'
                   Type='string'></RegistryValue>
            </Component>
        </Feature>
	</Fragment>
</Wix>