<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    
    <!-- Todo: Pass version number from appveyor environment variable-->
    
	<Product Id="*" 
             Name="Installer" 
             Language="1033" 
             Version="1.0.0.0" 
             Manufacturer="Patrick Allwood" 
             UpgradeCode="{7F53544D-E1F2-4967-BBC9-3C777F91DD4A}">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" InstallPrivileges="elevated"/>
        <Media Id="1" Cabinet="bdyesinstaller.cab" EmbedCab="yes" />
        
		<MajorUpgrade AllowSameVersionUpgrades="yes" AllowDowngrades="no" DowngradeErrorMessage="A newer version of [ProductName] is already installed." />

        <FeatureRef Id="ProductFeature" />

	</Product>
</Wix>